#modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: lightblue;
}